main {
    position: relative;
    z-index: 10;
}

main section {
    padding: 98px 0;
}

main h2 {
    font-size: 54px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 100px;
}


.first-section {
    min-height: 650px;
    width: 100%;
    background-color: white;
}

.first-section__skills-list {
    display: flex;
    justify-content: space-between;
    font-size: 20.5px;
    line-height: 30px;
}

.first-section__skills-list-item {
    color: #8993ad;
    text-align: center;
    padding-top: 90px;
    background-repeat: no-repeat;
    background-position: top center;
}

.first-section__skills-list-item a:hover {
    color: #fc557c;
}

.first-section__skills-list-item:nth-child(1) {
    background-image: url(../img/tools-and-utensils.png);
}

.first-section__skills-list-item:nth-child(2) {
    background-image: url(../img/responsive.png);
}

.first-section__skills-list-item:nth-child(3) {
    background-image: url(../img/programming.png);
}

.first-section__skills-list-item:nth-child(4) {
    background-image: url(../img/coding.png);
}

.first-section__button {
    display: block;
    font-size: 19px;
    margin: 92px auto 0;
}

.second-section {
    height: 855px;
    background-color: #fbfbfb;
    font-weight: 500;
    font-size: 20.5px;
}

.examples {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

}

.examples__img {
    margin: 0 auto;

}

.examples__text {
    color: #8993ad;
    margin-top: 35px;
    display: block;
    text-align: center;
}

.examples__text:hover {
    color: #fc557c;
}

.second-section__button {
    display: block;
    font-size: 19px;
    margin: 100px auto 0;
}